.card{
  position: relative;
  width: $BS * 300;
  min-height: $BS * 410;
  border-right: none;
  box-sizing: border-box;
  z-index: 1;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background: radial-gradient(ellipse at bottom center, transparentize($BlueWhite, 0.9), transparent 50%);

  &:hover{
    .card{
      &__svg{
        path, polyline, circle{
          stroke: $BlueNeon;
          stroke-width: $BS * 7;
        }
      }
    }
  }

  &__svg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    path, polyline, circle{
      fill:none;
      stroke: $BlueWhite;
      stroke-width: $BS * 5;
      transition: stroke 0.3s ease-out, stroke-width 0.3s ease-out;
    }
  }

  &__name{
    position: absolute;
    // bottom: $BS * 40;
    // left: $BS * 30;
    right: $BS * 15;
    bottom: $BS * 32;
    // transform: translate(0, 0) rotate(-90deg);
    transform-origin: right bottom;
    font-weight: 700;
    @include bs-font-size(40);
    text-transform: uppercase;
    color: $BlueNeon;
  }

  &__description{
    @include bs-font-size(24);
    line-height: 150%;
    box-sizing: border-box;
    text-align: right;
    margin-top: $BS * 72;
    margin-left: $BS * 100;
    padding-right: $BS * 13;
    span{
      font-weight: 700;
      color: $White;
      &.redHealth{
        color: $RedHealth;
      }

      &.blueBlock{
        color: $BlueBlock;
      }

      &.yellowAP{
        color: $YellowAp;
      }
    }
  }

  &__stats_wrapper{
    font-weight: 700;
    @include bs-font-size(32);
    position: absolute;
    top: $BS * 70;
    left: $BS * -10;
    width: 90%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  &__stats_bubble, &__cost{
    position: relative;
    display: block;
    width: $BS * 70;
    height: $BS * 70;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    color: $YellowAp;
    border: solid $BS*3 $BlueWhite;
    border-radius: 50%;
    margin-bottom: $BS * 24;
    &--health{
      color: $RedHealth
    }
    &--block{
      color: $BlueBlock;
    }
    span{
      transform: translateY(-5%);
    }
  }

  &__stats{
    margin-bottom: 0;
    display: flex;
    align-items: center;
    &:last-child{
    }
  }

  &__unit{
    @include bs-font-size(20);
    font-weight: 400;
    margin-left: $BS * 8;
  }

}
