.card{
  position: relative;
  width: $BS * 300;
  min-height: $BS * 300;
  background: scale-color(#998099, $alpha: -40%);
  background: rgba(224, 236, 255, 0.8);
  border-radius: $BS * 10;
  box-sizing: border-box;
  z-index: 1;
  cursor: pointer;

  &__img_wrapper{
    position: relative;
    width: 100%;
    border-radius: $BS * 5;
    margin-bottom: $BS * 36;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__name{
    transform: translate(0, 0);
    font-weight: 700;
    background: $White;
    padding: $BS*10 $BS*20 $BS*10;
    border-radius: 0 $BS*5 0 0;
    text-align: right;
    margin-bottom: -1px;
    max-width: $BS * 210;
    @include bs-font-size(30);
    box-sizing: border-box;
  }

  &__description{
    padding: $BS * 16;
    @include bs-font-size(20);
    text-align: right;
    background: $White;
    max-width: $BS * 210;
    box-sizing: border-box;
    border-radius: $BS*5 0 0 $BS*5;
    span{
      font-weight: 700;
    }
  }

  &__cost{
    position: absolute;
    top: 0;
    left: 0;
    width: $BS * 60;
    height: $BS * 60;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $BS*10 50% 50% 50%;
    background: $Black;
    font-weight: 700;
    color: $YellowAp;
    span{
      transform: translateY(5%);
      @include bs-font-size(35);
    }
  }

  &__stats_wrapper{
    font-weight: 700;
    align-self: flex-start;
    @include bs-font-size(30);
  }

  &__stats_bubble{
    position: relative;
    display: block;
    width: $BS * 60;
    height: $BS * 60;
    color: $White;
    border-radius: 0 50% 50% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &--health{
      background: $RedHealth
    }
    &--block{
      background: $BlueBlock;
    }
  }

  &__stats{
    margin-bottom: $BS * 5;
    display: flex;
    align-items: center;
    &:last-child{
    }
  }

  &__unit{
    @include bs-font-size(20);
    font-weight: 400;
    margin-left: $BS * 8;
  }

}
