.characters{
  position: absolute;
  top: $BS * 228;
  left: 0;
  width: 100%;
  height: $BS * 662;
  display: flex;
  justify-content: space-between;
  @include bs-font-size(26);
  line-height: 170%;
  font-weight: 700;

  &__character{
    position: relative;
    width: $BS * 380;

    &--hero{
      text-align: right;
      .characters{
        &__health_bar{
          flex-direction: row-reverse;
        }
        &__health_bar_block{
          position: absolute;
          top: 0;
          left: 0;
          height:100%;
          transform: translateX(-100%);
          background: $BlueBlock;
        }
      }
    }
  }

  &__next_attack{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateX(-100%) translateY(-50%);
    text-align: right;
    @include bs-font-size(32);
  }

  &__health_bar_wrapper{
    display: inline-block;
    width: $BS * 200;
  }

  &__health_bar{
    display: flex;
    height: $BS * 20;
    width: 100%;
    border: solid $Anthracite 1px;
  }

  &__health_bar_health{
    position: relative;
    display: inline-block;
    height:100%;
    background: $RedHealth;
    transition: 0.3s ease-out width;
  }

  &__health_bar_block{
    position: absolute;
    top: 0;
    right: 0;
    height:100%;
    transform: translateX(100%);
    background: $BlueBlock;
    transition: 0.3s ease-out width;
  }

}
