.characters{
  position: absolute;
  top: $BS * 228;
  left: 0;
  width: 100%;
  height: $BS * 662;
  display: flex;
  justify-content: space-between;
  @include bs-font-size(26);
  line-height: 170%;
  font-weight: 700;

  &__character{
    position: relative;
    width: $BS * 380;

    &--hero{
      text-align: right;
      .characters{
        &__health_bar{
          flex-direction: row-reverse;
        }
        &__health_bar_block{
          position: absolute;
          top: 0;
          left: 0;
          height:100%;
          transform: translateX(-100%);
          background: $BlueBlock;
        }
      }
    }

    &--monster{
      .characters{
        &__health_bar_wrapper{
          padding-right: $BS * 130;
          padding-left: 0;
          &:after{
            content: '';
            position: absolute;
            right: 0;
            left: auto;
            top: 0;
            height: 100%;
            width: $BS * 30;
            background: linear-gradient(-90deg, White 0, transparent 50%)
          }
        }
      }
    }

  }

  &__next_attack{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateX(-100%) translateY(-50%);
    text-align: right;
    @include bs-font-size(32);
    transition: transform 0.2s linear;
    transform-origin: center right;
    *{
      margin-bottom: 0;
    }
    &--scale{
      transform: translateX(-100%) translateY(-50%) scale(1.5);
    }
  }

  &__health_bar_wrapper{
    position: relative;
    display: inline-block;
    width: $BS * 200;
    padding-left: $BS * 130;
    overflow: hidden;
    &:after{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: $BS * 30;
      background: linear-gradient(90deg, White 0, transparent 50%)
    }
  }

  &__health_bar{
    position: relative;
    display: flex;
    height: $BS * 20;
    width: 100%;
    border: solid $Anthracite 1px;
    box-sizing: border-box;
  }

  &__health_bar_health{
    position: relative;
    display: inline-block;
    height:100%;
    background: $RedHealth;
    transition: 0.3s ease-out width;
  }

  &__health_bar_block{
    position: absolute;
    top: 0;
    right: 0;
    height:100%;
    transform: translateX(100%);
    background: $BlueBlock;
    transition: 0.3s ease-out width;
  }

}
