.deck{
  position: absolute;
  bottom: $BS * 25;
  left: 0;
  height: $BS * 450;
  width: 100%;
  display: flex;
  justify-content: space-between;

  &__endTurn{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -180%);
    transition: transform 0.5s ease-out;
    &--scale{
      animation: JIGGLE 0.5s linear forwards;
      transform-origin: center;
    }
    @keyframes JIGGLE{
      0%{
        transform: translate(-50%, -180%) scale(1) rotate(0deg);
      }
      10%{
        transform: translate(-50%, -180%) scale(1.3) rotate(0deg);
      }
      25%{
        transform: translate(-50%, -180%) scale(1.3) rotate(5deg);
      }
      75%{
        transform: translate(-50%, -180%) scale(1.3) rotate(-5deg);
      }
      90%{
        transform: translate(-50%, -180%) scale(1.3) rotate(0deg);
      }
      100%{
        transform: translate(-50%, -180%) scale(1) rotate(0deg);
      }
    }
  }

  &__hand{
    position: relative;
    width: $BS * 1600;
    height: 100%;

    .card{
      position: absolute;
      top: 0;
      transition: transform 0.2s ease-out, left 0.2s ease-out;
      &:first-child{
        margin-left: 0;
      }
      &:last-child{
        margin-right: 0;
      }
      &:hover{
        animation: none !important;
        transform: scale(1.1) rotate(3deg) !important;
        z-index: 3;
      }
    }

    &--started{
      .card{
        animation: SlideIn 0.3s ease-in forwards;
        pointer-events: none;
        @keyframes SlideIn{
          0%{
            transform: translateX($BS * -200);
            opacity: 0;
          }
          100%{
            transform: translateX(0);
            opacity: 1;
          }
        }
      }
    }

    &--ended{
      .card{
        animation: SlideOut 0.3s ease-in forwards;
        pointer-events: none;
        @keyframes SlideOut{
          0%{
            transform: translateX(0);
            opacity: 1;
          }
          100%{
            transform: translateX($BS * 200);
            opacity: 0;
          }
        }
      }
    }

  }

  &__drawPile, &__discardPile{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: $BS * 380;
  }
}
