.gameOver{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  @include bs-font-size(32);
  background: White;
  button{
    margin-top: $BS * 50;
  }

  h1{
    margin-bottom: $BS * 10;
  }
  a + a{
    margin-top: $BS * 20;
  }
}
