.pile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__number{
    width: $BS * 120;
    height: $BS * 120;
    border-radius: $BS*20;
    display: flex;
    justify-content: center;
    align-items: center;
    @include bs-font-size(45);
    font-weight: 700;
    border-top: solid $BS*5 $BlueWhite;
    border-bottom: solid $BS*5 $BlueWhite;
    & > span{
      transform: translateY(-12%);
    }
  }

  &__title{
    width: 100%;
    @include bs-font-size(24);
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    border-radius: $BS * 5;
    min-width: 100%;
    box-sizing: border-box;
    margin-top: $BS * -15;
    color: $BlueNeon;
    transform: translateY($BS * 40);
  }

  &--ap{
    span{
      padding: 0 $BS*2;
      padding-left: 0;
      color: $BlueWhite;
      font-weight: 400;
      &:first-of-type{
        color: $YellowAp;
        font-weight: 700;
      }
      &:last-of-type{
        padding-left: $BS * 4;
      }
    }
    .pile{
      &__number, &__title{
        color: $YellowAp;
      }
    }
  }

}
