.viewCharacter{
  background: $Anthracite;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  &__subtitle{
    position: absolute;
    top: $BS * 176;
    left: 0;
  }

  &__character{
    position: absolute;
    top: $BS * 176;
    left: $BS * 112;
    width: $BS * 835;
    height: $BS * 714;
  }

  .card{
    overflow: hidden;
  }

  &__newRun{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    color: $White;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 2s fade-out ease-out forwards;
    @keyframes fade-out{
      0%{
        opacity: 1;
      }
      99.9%{
        opacity: 0;
        display: none;
        height: 100%;
        width: 100%;
      }
      100%{
        height: 0;
        width: 0;
        overflow: hidden;
      }
    }
  }

  &__cardOverlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110%;
    height: 110%;
    z-index: 101;
    background: rgba(0,0,0,0.85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: White;
    font-weight: 700;
    @include bs-font-size(20);
    opacity: 0;
    transition: 0.3s ease-out opacity;
    &:hover{
      opacity: 1;
      pointer-events: all;
    }
  }

  &__canvas{
    width: $BS * 835;
    &:focus{
      outline: none;
      border: none;
    }
  }

  &__tropes{
    position: absolute;
    top: $BS * 921;
    left: $BS * 112;
    width: $BS * 835;
    height: $BS * 402;
    // background: $Grey;
  }

  &__stats{
    position: absolute;
    top: $BS * 176;
    left: $BS * 979;
    width: $BS * 602;
    height: $BS * 1019;
    color: $White;
    @include bs-font-size(28);
    line-height: 150%;
  }

  &__cards{
    position: absolute;
    top: 0;
    left: $BS * 1700;
    width: $BS * 700;
    height: 110%;
    overflow-y: auto;
    box-sizing: border-box;
    overflow: hidden;
    transform: rotate(5deg) translateY(-5%);
    animation: SLIDE-IN 0.7s ease-out forwards;
    @keyframes SLIDE-IN{
      0%{
        transform: translateY(100%) translateX(-25%) rotate(5deg);
      }
      100%{
        transform: translateY(-5%) translateX(0%) rotate(5deg);
      }
    }
  }

  &__cards_wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: -15px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding-top: $BS * 350;
    padding-bottom: $BS * 100;
    overflow-y: auto;
    overflow-x: visible;
  }

  .card{
    margin-bottom: $BS * 32;
    margin-left: $BS * 32;
    transition: transform 0.3s ease-out;
    transform: translateX(-10%);
    &:nth-child(even){
      transform: translateY(-50%) translateX(-10%);
    }
    &:nth-child(odd):last-child{
      transform: translateY(-50%) translateX(-10%);
    }
    &:hover{
      z-index: 3;
      transform: scale(1.1) rotate(-3deg) translateX(-10%) !important;
      &:nth-child(even){
        transform: translateY(-50%) translateX(-10%) scale(1.1) rotate(-3deg) !important;
      }
      &:nth-child(odd):last-child{
        transform: translateY(-50%) translateX(-10%) scale(1.1) rotate(-3deg) !important;
      }
    }
  }

  &__navigation{
    position: absolute;
    top: $BS * 1227;
    left: $BS * 979;
    width: $BS * 602;
    height: $BS * 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background: $Grey;
  }

}
