@font-face{
  font-family: 'Bandeins';
  src: url(./../fonts/BandeinsStrange/BandeinsStrangeLight.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
};

@font-face{
  font-family: 'Bandeins';
  src: url(./../fonts/BandeinsStrange/BandeinsStrangeBold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
};
