.infobutton{
  position: absolute;
  top: 50%;
  left: $BS * 5;
  transform: translateY(-50%);
  font-weight: 700;
  @include bs-font-size(40);
  color: $Grey;
  cursor: help;
  &__text{
    padding: $BS * 5;
  }
}
